<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{email-confirmation.email.subject}"></title>
</head>
<body>
<h1 th:text="#{email-confirmation.email.welcome}"></h1>
<p th:text="#{email-confirmation.email.body}"></p>
<p th:text="#{email-confirmation.email.message}"></p>
<a th:href="${emailConfirmationUrl}"
   th:text="#{email-confirmation.email.confirm}"
   class="verification-link"></a>
<p th:text="#{email-confirmation.email.author}"></p>
</body>
</html>
